/*import css reset*/
@import "_reset.scss";
/*import colors*/
@import "_colors.scss";
/*import fonts*/
@import "_fonts.scss";
/*import responsive mobile layout*/
@import "_resp768px.scss";

body {
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "maincontent"
    "footer";
}

header {
  grid-area: header;
}
main {
  grid-area: maincontent;
}
footer {
  grid-area: footer;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "text1 img1"
    "img2 text2"
    "imgtext1 imgtext2"
    "customer customer"
    "img12 img12";
}
@media only screen and (max-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "img1"
      "text1"
      "img2"
      "text2"
      "imgtext1"
      "imgtext2"
      "customer"
      "img12";
  }
}

section {
  width: 1fr;
  min-height: 500px;
}

#textegg {
  grid-area: text1;
}

#egg {
  grid-area: img1;
}

#textglass {
  grid-area: text2;
}

#glass {
  grid-area: img2;
}

#cherrytext {
  grid-area: imgtext1;
}

#mandarinetext {
  grid-area: imgtext2;
}

#testimonial {
  grid-area: customer;
}

#gallery {
  grid-area: img12;
  min-height: 400px;
}

/*header*/
header {
  width: 100%;
  height: 600px;
  background-image: url(images/img/image-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  #h1arrow{
      display: flex;
      flex-direction: column;
      margin: auto auto;
  }
  #h1arrow h1 {
    font-size: 4rem;
    text-align: center;
    font-family: "Fraunces", sans-serif;
    font-weight: 800;
    color: $white;
    margin: auto auto;
    padding-bottom: 2rem;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;

  }
  nav ul li {
    margin: 2rem 3rem;
    color: $white;
  }
  #sunnyset {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  nav ul li a {
    text-decoration: none;
  }
  .whitelink {
    color: $white;
  }
  #contact {
    background-color: $white;
    border-radius: 5rem;
    padding: 1rem;
    font-family: "Fraunces", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: $very-dark-desaturated-blue;
  }
}

#arrow {
  position: relative;
  height: 4rem;
  width: 2.5rem;
  margin: 0 auto;
  justify-content: flex-start;
}

@media only screen and (max-width: 768px) {
 header nav {
    display: none;
  }
}
/*titles and text style*/
h2 {
  width: 70%;
  font-family: "Fraunces", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: $very-dark-desaturated-blue;
  margin: 1rem;
}

h3 {
  width: 70%;
  font-family: "Fraunces", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: $very-dark-desaturated-blue;
  margin: 1rem auto;
}

/*main content*/

/*picture next to text sections*/
.side {
  display: flex;
}
.sidetext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    margin: 1rem;
    width: 70%;
  }
}

#egg {
  background-image: url(images/img/image-transform.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
#glass {
  background-image: url(images/img/image-stand-out.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.learnmore {
  font-family: "Fraunces", sans-serif;
  color: $very-dark-desaturated-blue;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 10px;
  color: $very-dark-grayish-blue;
  align-self: flex-start;
  margin-left: 15%;
}

#yellow {
  text-decoration-color: $yellow;
}

#salmon {
  text-decoration-color: $soft-red;
}

/*text on picture sections*/
.backimg {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
  p {
    width: 55%;
    margin: 2rem auto;
  }
}

#cherrytext {
  background-image: url(images/img/image-graphic-design.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

#mandarinetext {
  background-image: url(images/img/image-photography.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

/*Pictures only section*/
#gallery {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  #gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.illustration {
  width: 25%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .illustration {
    width: 50%;
    height: auto;
  }
}

/*Testimonials*/
#testimonial {
  display: flex;
  flex-direction: column;
}

h4 {
  width: 100%;
  font-family: "Fraunces", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: $grayish-blue;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}
.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
  .profile {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
  }

  .customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    blockquote {
      width: 70%;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    cite {
      text-align: center;
      padding-bottom: 3rem;
    }
  }

  cite::first-line {
    font-family: "Fraunces", sans-serif;
    font-size: 1.3rem;
    font-weight: 800;
    color: $very-dark-desaturated-blue;
  }

  /*Footer*/
  footer {
    width: 100%;
    background-color: $lighter-cyan;
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    nav ul li {
      display: inline-block;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem;
      margin-bottom: 3rem;
      color: $white;
    }
    nav img {
      justify-content: center;
      align-items: center;
      height: 3rem;
      margin: 1rem;
      fill: $dark-desaturated-cyan;
    }
    #social {
      width: 100%;
      text-align: center;
    }
    #social img {
      height: 2rem;
      width: auto;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 1rem;
      margin-bottom: 3rem;
    }
  }

  footer ul li a {
    text-decoration: none;
    color: $dark-moderate-cyan;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  /*Hamburger menu*/
  #myCheck {
    display: none;
    position: absolute;
    z-index: 4;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    opacity: 0;
  }
  #hamburger {
    display: none;
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
  }

  #text {
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 5px;
    background-color: rgba(255, 255, 255, 0.74);
    width: 100%;
    height: auto;
    padding: 3rem;
    ul li a{
      font-size: 1.2rem;
      text-decoration: none;
      color: black;
      line-height: 1.5rem;
    }
  }
  @media (max-width: 768px) {
    #myCheck {
      display: block;
    }
    #hamburger {
      display: block;
    }
  }